html, body, #root {
  height: 100%;
  font-size: 90%;
}
.App {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}
.left {
  display: flex;
  width: 20%;
}
.right {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.right-top {
  display: flex;
  height: 67%
}
.right-bottom {
  height: 33%
}